@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
/* npx tailwindcss -i ./src/input.css -o ./dist/output.css --watch */


.slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}

li.slick-active,
.slick-dots li button {
    background-color: red;
    width: 45px;
    height: 20px;
    border-radius: 20px;
}

li.slick-active,
.slick-dots ul li button {
    /* background-color: red; */
    opacity: 0.3;
    background: red;
    background-color: red;
    width: 45px;
    height: 20px;
    border-radius: 20px;
    color: transparent;

}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: grey;
}


.slick-dots li button:before {
    content: '';
    font-size: 70px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 20%;
    width: 50px;
    height: 20px;
    text-align: center;
    opacity: .25;
    color: black;
}



.slick-list {
    overflow: visible;
    padding: 0 20% 0 0;
    position: relative;
    z-index: -1;
}

/* 
.slick-track {
    left: 70%;
} */

.slick-list::after {
    content: ' ';
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 4000px;
    right: 100%;
    background-color: white;
}


.slick-slide {
    padding: 10px;
    background-color: white;
    text-align: center;
    margin-right: 15px;
    margin-left: 15px;
}

.slick-dots {
    position: relative;
    left: 3%;
}

/* 
.slick-dots .slick-active {
    background: red;
} */